<!DOCTYPE html>
<html>
<body>


<form action="/checkout">
  First name:<br>
  <input type="text" name="item" value="item">
  <br>
  <br><br>
  <input type="submit" value="submit">
</form>

</body>
</html>
